<div class="product-reviews">

  <% @comments.each do |comment| %>
  	<% cache comment do %>
    	<%= render partial: "comments/comment", locals: {comment: comment} %>
    <% end %>
  <% end %>

</div>