
<div class="text">
	<h1>Products</h1>
</div>

<div class="container-fluid same-height">

  <div class="row">
  	<% cache(@products) do %>
    	<%= render @products %> 
    <% end %>
  </div>

  <% if signed_in? && current_user.admin? %>
    <div class="edit"><button class="btn_actions"><%= link_to 'New Product', new_product_path %></button>
  <% end %>
    </div>
  

	<div class="pagination"><%= will_paginate @products %>
	</div>
</div> <!-- div container-fluid -->

<br>
