<body class="blue">

	<div class="thankyou">
		<h1>Awesome!</h1>
		<h3>Your order was successfully processed!</h3>
		<p>Thank you for trusting us with your VR needs! We will be sending you your products right away!</p>
		<p>An email has been sent to your inbox confirming your shipment and your shipment number.
		</p>
		<p>To tell us of any issues, please go to the contact page and use one of the possible ways to reach us.</p>
		</div>
	<div class="product">
		<% render @product %>
	</div>

</body>