// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {	
	float: left;
	width: 100%;
}

					/* the div containing 1 product for index.html*/

.product {
	position: relative;
	width: 100%;
	min-height: 410px;
	text-align: center;
	border: 1px solid black;
	margin-bottom: 20px;
}

					/* info of product for index.html*/
.title {
	padding: 6px;
	color: white;
	text-align: center;
	font-size: 1.6em;
	background-color: #30abdf;
}

.price { margin: 15px; }

.image { padding: 6px; }

.description { 
	margin: 20px 0;
	text-align: center;
	font-size: 1.2em;
}

.row .edit {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f9f9f9;
	padding: 4px;
	margin: 0;
}



				/*  style for comments thumbnails  */

.new_comment {
	background-color: #30abdf;
	padding: 10px 0;
}

#parent-container { padding: 5px; }

.thumbnail { 
	background-color: #30abdf;
	margin: 8px 12px 8px 0;
}

.comment_body {
	font-family: Times, Serif;
	font-size: 1.2em;
}

					/*  info of product for featured.html */

.carousel_image { padding: 60px 0; }

.carousel_title {
	padding: 6px;
	color: white;
	text-align: center;
	font-size: 1.6em;
	background-color: #30abdf;
	position: relative;
	top: -120px;
}

.carousel-indicators { bottom: -10px; }

.carousel-indicators li { border-color: black; }

.buy {
	position: relative;
	bottom: -30px;
	float: right;
	height: 40px;
	margin: 10px auto;
	display: block;
	border-radius: 7px;
	outline: none;
	font-size: 1.1em;
	background-color: #802337;
	box-shadow: 3px 4px 5px;
}

.buy a { color: lightgrey!important; }

.buy a:hover {
	text-decoration: none;
	color: white!important;
}

.buy a:link {	
	background-color: transparent;
  text-decoration: none;
}

    /*   update product button on edit product form   */
  
.actions {
	text-align: center;
	padding-top: 10px;
}

     /* style for form contact page   */

p .contact-page {
	background-color: #30abdf;
	color: white;
	padding: 5px 30px;
}

.form {
	border: 1px solid black;
	margin: 2px;
	border-radius: 5px;
}

#email { display: block; }

#question { width: 100%; }

#submit_tag {
	padding: 9px 18px;
	font-size: 1.1em;
	margin-bottom: 10px;
}

    /*    style for button edit-back on product   */

.edit {
	text-align: center;
	padding: 20px;
	word-spacing: 20px;
}

.edit a:hover {
	background-color: transparent;
	text-decoration: none;
	color: grey;
}

    /*    style for pagination   */

.pagination {
	float: right;
	margin-right: 30px;
	font-style: italic;
	font-size: 1.05em;
	word-spacing: 5px;
}

.pagination a { color: lightgrey!important; }

.pagination a:hover {
	background-color: transparent;
	text-decoration: none;
	color: #802337!important;
	font-size: 1.1em;
}