// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {	
	float: left;
	width: 100%
}

					/* the div containing 1 product for index.html*/
.product {
	position: relative;
	width: 100%;
	text-align: center;
	border: 1px solid black;
	margin-bottom: 20px;
}

					/* info of product for index.html*/
.title {
	padding: 6px;
	color: white;
	text-align: center;
	font-size: 1.6em;
	background-color: #30abdf;
}

.image {	padding: 6px; }

.description {
	margin-bottom: 50px;
	padding: 10px 8px;
}

.row .edit {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f9f9f9;
	padding: 4px;
	margin: 0;
}

					/*  info of product for featured.html */

.carousel_image { padding: 60px 0; }

.carousel_title {
	padding: 6px;
	color: white;
	text-align: center;
	font-size: 1.6em;
	background-color: #30abdf;
	position: relative;
	top: -120px;
}

.carousel-indicators { bottom: -10px; }

.carousel-indicators li { border-color: black; }

.buy {
	position: relative;
	bottom: -30px;
	float: right;
	height: 40px;
	margin: 10px auto;
	display: block;
	border-radius: 7px;
	outline: none;
	font-size: 1.1em;
	background-color: #802337;
}


   /* style for form contact page   */

.form {
	border: 1px solid black;
	margin: 2px;
	border-radius: 5px;
}

#email { display: block; }

#question { width: 100%; }

#submit_tag {
	padding: 9px 18px;
	font-size: 1.2em;
	background-color: lightgrey;
	display: block;
}
