

html, body {
	height: 100%;
	width: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Futura;
}

   /*   styling navbar   */

.navbar {
	position: absolute;
	z-index: 2;
	width: 100%;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}

.nav { float: right; }

.navbar ul li a { color: black !important; }

.navbar-nav > li > a:hover {
	color: #30abdf!important;
	-webkit-transition: color 0.8s;
	-moz-transition:    color 0.8s;
	-ms-transition:     color 0.8s;
	-o-transition:      color 0.8s;
	transition:         color 0.8s;
}

.navbar-default .active a {
	color: #30abdf!important;
	background-color: rgba(255, 255, 255, 0)!important;
}

@media (max-width: 767px) {
	
	.nav.navbar-nav {
		background-color: rgba(255, 255, 255, .9)!important;
	}
}

    /*   styling collapsible navbar   */
    

.navbar.navbar-default .navbar-collapse { border: none; }

.navbar-default .navbar-toggle {
	border-color: #30abdf;
	background-color: #30abdf;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #30abdf;
}

   	/*    styling form navbar    */

#form { 
	display: block; 
	float: right;
	margin-top: 8px;
}

.search { border: 1px solid black; }



 				/* Title of the pages */

.text { padding-top: 30px; } 
   
        /*   image  */

.jumbotron {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
}

		    /*    style text in jumbotron    */

h1 {
	color: #30abdf;
	margin-left: 20px;
}

h3 {
	font-weight: 800;
	line-height: 0;
}

@media (min-width: 450px) {

	#pano {
		position: absolute;
		top: 45px;
		left: 30px;
	}
}

@media (max-width: 450px) {

	#pano {
		background-color: #eaddda;
		text-align: center;
	}
	.navbar ul li {
			font-size: 1.2em;
	}
}

			/*   offer button   */

h2 {
	text-align: center;
	color: #ad223e;
}

.offer {
	height: 40px;
	margin: auto;
	display: block;
	border-radius: 5px;
	outline: none;
	font-size: 1.1em;
}

			/*    style footer  */

footer {
	background-color: #30abdf;
	padding: 20px;
}

footer p {
	width: 100%;
	font-size: 0.8em;
	text-align: center;
}

footer a {
	color: white!important;
	list-style-type: none;
}

footer a:hover {
	background-color: #30abdf;
	text-decoration: none;
}

footer li a:hover { color: #787985!important; }

			/*  list for footer */

#links {
	text-align: center;
	margin-left: -40px;
	margin-right: 20px;
}

#links li {
	list-style-type: none;
	padding: 3px;
} 

    /*    dropdown menu for kinds of money   */


.dropdown {
	margin-top: 35px;
	margin-left: 0;
	text-align: center;
}

.dropdown a:hover { color: #787985!important; }

.dropdown-menu { text-align: center; }

.dropdown-menu a { color: grey!important; }

.dropdown-menu a:hover { text-decoration: none; }

				/*   social media links   */

.social {
	text-align: center;
	margin-top: 35px;
}

.social a:hover { color: #787985!important; }

.fa { padding: 5px; }

.copy {
	text-align: center;
	font-size: 10px;
	padding: 10px;
	color: white;
	clear: both;
}

