<h1>What will Bucket Star do for you?</h1>
<p>You will be able to build a bucket list of the dreams you wish to accomplish in your life. And you will be able to communicate with other bucket listers who wants to live those dreams with you!</p>
