<!-- <div class="buffer">
	</div> -->
<div class="text">
	<h1>Contact us!</h1>
	<p>If you want to know more about this app or if you have any questions, use one of these method to contact the developer directly.</p>
</div>

