

	<div class="jumbotron">
		<%= image_tag("vr.jpg", class: "img-responsive") %>
	<div class="container-fluid" id="pano">
		<h3>VIRTUAXIS &boxv;&boxv; VR AR</h3>
		<p>Reality check!</p>
	</div>
	</div>

	<h2>Take advantage of our limited time offers!!!!</h2>
	<button class="offer"><%= link_to "CLICK for our FEATURED products", static_pages_featured_path %></button>


	
