

	<div class="jumbotron">
		<%= image_tag("vr.jpg", class: "img-responsive") %>

	<div class="container-fluid" id="name">
		<h3>VIRTUAXIS</h3>
		<span id="name">VR / AR</span>

	<div class="container-fluid" id="pano">
		<h3>VIRTUAXIS // VR AR</h3>
		<p>Reality check!</p>
	</div>
	</div>

	<div class="div-offer">
		<h2>Take advantage of our limited time offers!!!!</h2>
		<button class="btn_actions" id="offer"><%= link_to "CLICK for our FEATURED products", static_pages_featured_path %></button>
	</div>


	
