<div class="text">
	<h1>Thank you!</h1>
</div>
<center><%= image_tag("sent.jpg") %></center>
<center><p><strong>I can confirm that we received your message and that we will answer as soon as possible.</strong></p></center>